{% load static %}
<!doctype html>
<html lang="pt">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% include 'partial/_head.html' %}
</head>
<body>
<div class="base-container">
    {# Itens de menu #}
    {% include 'partial/_navigator.html' %}
    <main>
        <div class="top-bar shadow-sm">
            <div class="page-title">
                {% block page_title %}{% endblock %}
            </div>
        </div>
        <div class="container toolbar-container">
            <div class="messages">{% include 'components/messages.html' %}</div>
            <form method="POST" id="form">
                {% csrf_token %}
                <div class="top-toolbar">{% block toptoolbar %}{% endblock %}</div>
                <div class="clean-container">{% block container %}{% endblock %}</div>
            </form>
        </div>
    </main>
</div>


{# :: commons scripts and footer :: #}
{% include 'partial/_footer.html' %}

</body>
</html>