{% load custom %}
<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start  g-3 mb-3">
    <div class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center">
        <div class="row">
            <div class="col">
                <a href="{% url 'cadastrar_veiculos' %}" class="btn btn-sm btn-primary" role="button">
                    <i class="bi bi-plus-lg"></i> Novo
                </a>


                <button id="checkAll" class="btn btn-sm btn-secondary"
                        onclick="selectUnselectAll({{ veiculos|get_ids }})"
                        title="Selecionar tudo" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi bi-check-all"></i>
                </button>
                <button id="editAction" class="btn btn-sm btn-secondary disabled" onclick="editVeiculo()"
                        title="Editar" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi bi-pencil"></i>
                </button>
                <button id="deleteAction" class="btn btn-sm btn-secondary disabled"
                        onclick="deleteVeiculoAction()" >
                    <i class="bi bi-trash3-fill"></i>
                </button>
                {#                <button id="changeView" class="btn btn-sm btn-secondary" onclick="changeViewDisplay()">#}
                {#                    <i id="changeViewId" class="bi bi-grid"></i>#}
                {#                </button>#}

                <div class="ms-2 btn-group">
                    <button id="exportAction" class="btn btn-sm btn-secondary dropdown-toggle disabled"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-download" title="Exportar" data-bs-toggle="tooltip" data-bs-placement="right"></i>
                    </button>


                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'export_pdf' %}"><i
                                class="bi bi-file-earmark-pdf me-2"></i>PDF</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'export_csv' %}"><i
                                class="bi bi-file-earmark-spreadsheet me-2"></i>CSV</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="text-sm-end">
        <input id="inputSearch" type="search" class="form-control" placeholder="Buscar..." autocomplete="off"
               aria-label="Search">
    </div>
</div>
