{% extends 'template-base.html' %}
{% load commons %}
{% load static %}
{% block page_title %}Listando veículos{% endblock %}
{% block toolbar %}
    {% include 'app/_toolbar.html' %}
{% endblock %}

{% block cleancontainer %}

    <style>
        div.selected-card {
            background: #dcdcdc;
        }

        div.image-card {
            background: #94a1aa;
            height: 100%
        }

        div.card:hover, div.card:hover div.image-card {
            background: #b2b2b2;
            cursor: pointer;
        }
    </style>
    <div id="cardsContainer" class="row row-cols-1 ">
        {% for veiculo in veiculos %}

            <div class="col">
                <div id="{{ veiculo.id }}" class="card car-info-card" onclick="selectCard(this.id)">
                    <div class="row g-0 ">
                        <div id="imageCol" class="col-sm-3 col-md-2 d-none">
                            <div class="image-card">img</div>
                        </div>
                        <div class="col col-sm-9 ">
                            <div class="card-body px-2 pt-2 pb-0 ">
                                <h5 class="card-title fw-bold">{{ veiculo.modelo }}</h5>
                                <div class="row g-0 ">
                                    <span class="col-md-3"><strong>Marca:</strong> {{ veiculo.marca }}</span>
                                    <span class="col-md-3"><strong>Ano: </strong> {{ veiculo.ano }}</span>
                                    <span class="col-md-4"><strong>Valor: </strong>{{ veiculo.valor }}</span>
                                    <small class="text-muted p-0 col-12 mt-1 mb-0">Last
                                        updated {{ veiculo.update_date }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col mt-5">
            {% include 'components/pagination.html' with page_obj=veiculos is_ajax_pagination=True callback="getVeiculos" %}
        </div>
    </div>

    <script>



    </script>
    <script src="{% static 'js/crud.js' %}"></script>
{% endblock %}
