{% extends 'base.html' %}
{% load tags %}
{% block title %}Veículos{% endblock %}
{% block page_title %}Listando veículos{% endblock %}
{% block toptoolbar %}

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start  g-3 mb-3">
        <div class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center">
            <div class="row">
                <div class="col">
                    <a href="{% url 'cadastrar_veiculos' %}" class="btn btn-sm btn-primary" role="button">
                        <i class="bi bi-plus-lg"></i> Novo
                    </a>
                </div>
            </div>
        </div>

        <form method="GET" action="{% url 'listar_veiculos' %}" class="col-12 col-lg-auto mb-3 mb-lg-0 "
              role="search">
            <input name="search" type="search" class="form-control" placeholder="Buscar..."
                   autocomplete="off" aria-label="Search">
        </form>
    </div>

{% endblock %}


{% block container %}

    <table id="tabela" class="table table-striped">
        <thead class="table-secondary">
        <tr>
            <th scope="col" style="width: 150px">Actions</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Ano</th>
            <th scope="col">Valor</th>
        </tr>
        </thead>
        <tbody>
        {% for veiculo in veiculos %}
            <tr>
                <td>
                    <a href="{% url 'editar_veiculo' veiculo.id %}" class="text-decoration-none action-button"
                       title="Editar" data-bs-toggle="tooltip" data-bs-placement="right">
                        <i class="bi bi-pen"></i>
                    </a>
                    <a class="text-decoration-none action-button"
                       title="Remover" data-bs-toggle="tooltip" data-bs-placement="right"
                       onclick="dialogoConfirmarExclusaoVeiculo({{ veiculo.id }}, '{{ veiculo.marca }}')">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
                <td>{{ veiculo.marca }}</td>
                <td>{{ veiculo.modelo }}</td>
                <td>{{ veiculo.ano }}</td>
                <td>{{ veiculo.valor|currencyf }}</td>
            </tr>
        {% endfor %}
        {% include 'components/empty-table.html' with data_object=veiculos %}
        </tbody>
    </table>

    <div class="row">
        <div class="col mt-5">
            {% include 'components/pagination.html' with page_obj=veiculos is_ajax_pagination=True %}
        </div>
    </div>
{% endblock %}
